# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [49]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [69]:
# Run this code:

pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [71]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [55]:
# Your code here:
pokemon.Legendary.value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [57]:
# Your code here:
legendary_pokemon = pokemon[pokemon['Legendary'] == True]
legendary_points = legendary_pokemon.Total
legendary_points.mean()

637.3846153846154

In [59]:
not_legendary_pokemon = pokemon[pokemon['Legendary'] == False]
not_legendary_points = not_legendary_pokemon.Total
not_legendary_points.mean()

417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [61]:
import scipy.stats as st

In [29]:
# Your code here:
from scipy.stats import ttest_ind
t_stat, p_value = st.ttest_ind(not_legendary_points, legendary_points, equal_var=False)

print(f"T-Statistic: {t_stat:.4f}")
print(f"P-Value: {p_value:.20f}")

T-Statistic: -25.8336
P-Value: 0.00000000000000000000
There is a significant difference in total points between legendary and non-legendary Pokémon.

What do you conclude from this test? Write your conclusions below.

In [ ]:
# There is a significant difference in total points between legendary and non-legendary Pokémon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [33]:
# Your code here:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [35]:
# Your code here:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']
water_points = water_pokemon.Total
water_points.mean()

430.45535714285717

In [39]:
not_water_pokemon = pokemon[pokemon['Type 1'] != 'Water']
not_water_points = not_water_pokemon.Total
not_water_points.mean()

435.85901162790697

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [41]:
# Your code here:
t_stat, p_value = st.ttest_ind(water_points, not_water_points, equal_var=True)

print(f"T-Statistic: {t_stat:.4f}")
print(f"P-Value: {p_value:.20f}")

T-Statistic: -0.4419
P-Value: 0.65871403174887932508

Write your conclusion below.

In [ ]:
# There is no significant difference in total points between Water Pokémon and non-Water Pokémon.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [85]:
# Your code here:
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

In [65]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Describe the results of the test in the cell below.

In [75]:
attack = pokemon['Attack']
defense = pokemon['Defense']

t_stat, p_value = ttest_rel(attack, defense)

print(f"Estadístico t: {t_stat:.4f}")
print(f"P-valor: {p_value:.4f}")

alpha = 0.05
if p_value < alpha:
    print("Rechazamos la hipótesis nula: Hay una diferencia significativa entre las puntuaciones de ataque y defensa.")
else:
    print("No rechazamos la hipótesis nula: No hay evidencia suficiente para afirmar que existe una diferencia significativa.")

Estadístico t: 4.3256
P-valor: 0.0000
Rechazamos la hipótesis nula: Hay una diferencia significativa entre las puntuaciones de ataque y defensa.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [81]:
sp_atk = pokemon['Sp. Atk']
sp_def = pokemon['Sp. Def']

t_stat1, p_value1 = ttest_rel(sp_atk, sp_def)

print(f"Estadístico t: {t_stat1:.4f}")
print(f"P-valor: {p_value1:.4f}")

alpha = 0.05
if p_value1 < alpha:
    print("Rechazamos la hipótesis nula: Hay una diferencia significativa entre las medias de Sp. Atk y Sp. Def.")
else:
    print("No rechazamos la hipótesis nula: No hay evidencia suficiente para afirmar que existe una diferencia significativa entre las medias.")

Estadístico t: 0.8540
P-valor: 0.3934
No rechazamos la hipótesis nula: No hay evidencia suficiente para afirmar que existe una diferencia significativa entre las medias.

Describe the results of the test in the cell below.

In [ ]:
# Podemos concluir que si existe una diferencia significativa entre las medias de 'attack' y 'defense' puesto que el p-valor es menor a 0, con lo que no se cumple la hipótesis de que son iguales.
# En cambio, para las variables 'Sp. ATK' y Sp.def' si se cumple la hipótesis puesto que el p-value es mayor que 0.05

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [87]:
pokemon['Defense_Attack_Difference'] = pokemon['Defense'] - pokemon['Attack']

t_statistic, p_value = ttest_1samp(pokemon['Defense_Attack_Difference'], 0)

print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4e}")

if p_value < 0.05:
    print("We reject the null hypothesis: There is a significant difference between the means of Defense and Attack.")
else:
    print("We fail to reject the null hypothesis: There is no significant difference between the means of Defense and Attack.")

T-statistic: -4.3256
P-value: 1.7140e-05
We reject the null hypothesis: There is a significant difference between the means of Defense and Attack.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: